{{ form_start(form) }}
<div class="row g-4">
    <div class="col-md-4">
        {{ form_row(form.name, {'attr':{'class':'form-control', 'placeholder': "--- Saisir un produit ---"}}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.category, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-auto">
        <button class="btn btn-success mb-3">{{ button|default('Enregistrer') }}</button>
    </div>
</div>
{{ form_end(form) }}